.shopping-cart {
  display: flex;
  flex-flow: row wrap;

  &__products {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 80rem;
    margin: 3rem auto;
  }
}


.product__item {
  display: flex;
  border-bottom: 1px solid #777;
  width: 100%;
  max-width: 60rem;
}

app-shopping-cart-product {
  flex: 1;
}
